<script setup lang="ts">

import ProvaComponent2 from "@/components/ProvaComponent2.vue";
import {onBeforeMount, onMounted, ref} from "vue";

const mostrarComponent = ref(true);
const missatge1 = ref("Sense Abans de Montar");
const missatge2 = ref("Sense Montar");

function destroyComponent(){
  mostrarComponent.value =false;
}

onBeforeMount(()=>{
      setTimeout(()=>{
        missatge1.value = "Ja ha passat per abans de montar"
      },2000);
    }
)

onMounted(()=>{
      setTimeout(()=>{
        missatge2.value = "Ja ha passat per montar"
      },4000);
    }
)


</script>

<template>
  <div class="container">
    <h1>{{missatge1}}</h1>
    <h1>{{missatge2}}</h1>
<prova-component2 v-if="mostrarComponent"></prova-component2>
  <button @click="destroyComponent">Destruir</button>
  </div>

</template>

<style scoped>

</style>