<script setup lang="ts">

import {reactive, ref, watch} from "vue";

const valor = defineModel({default:0});
let comptador = reactive({count:0});
let resultat = ref(0);

watch(()=> comptador.count,(nouvalor, valorantic) =>{
      console.log("valor: " + valor.value);
      console.log("nouvalor: " + nouvalor);
      console.log("valor antic: " + valorantic);
      console.log("resultat abans del canvi: " + resultat.value);

      resultat.value = Number(valor.value) + Number(nouvalor);
      console.log("resultat després del canvi: " + resultat.value);
    }
)

function incrementar(){
  comptador.count++;
}

</script>

<template>

  <div class="container">
    <p>El resultat és: {{resultat}}</p>
    <input v-model="valor" />
    <button @click="incrementar">Incrementar</button>
  </div>


</template>

<style scoped>

</style>