<script setup lang="ts">

</script>

<template>
  <nav class="d-flex w-100 justify-content-center align-content-center col-2 bg-warning">
    <router-link to="/" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Prova1</router-link>
    <router-link to="/About" class="w-100 flex-grow-1 text-center text-decoration-none text-light">About</router-link>

  </nav>
  <router-view></router-view>
</template>

<style scoped>

</style>