<script setup lang="ts">

//import ProvaFetchFill2 from "@/components/ProvaFetchFill2.vue";
import {defineAsyncComponent} from "vue";
const AsyncComp = defineAsyncComponent(() =>
    import('./ProvaFetchFill2.vue')
)
</script>

<template>
  <div>
    <h1>Component Pare</h1>
    <AsyncComp/>
  </div>
</template>

<style scoped>

</style>