<script setup lang="ts">
import {ref} from "vue";

let imageURL:string= 'https://img.freepik.com/fotos-premium/variedad-vegetales-verdes-que-incluyen-brocoli-brocoli-otras-frutas_670382-1288.jpg?w=740';
let activitats: string[] = ['Typescript I', 'Typescript II',
      'Usabilitat I', 'Usabilitat II'];
let novaActivitat= ref('');
let bgColor:string = 'lime';
let textColor:string = 'hotpink';
let amplada= 200;
let alçada= 150;

function afegirActivitat() {
  if (novaActivitat.value !== '') {
    activitats.push(novaActivitat.value)
    novaActivitat.value = ''
  }

}
</script>

<template>
  <p>Prova Bind</p>
  <div class="container">
    <img v-bind:src="imageURL" />
  </div>
  <div class="container">
    <ul>
      <li v-for="(activitat, index) in activitats"
          :key="index" :id="'Activitat-' + index">{{ activitat }}</li>
    </ul>
    <div>
      <input type="text" v-model="novaActivitat">
      <button @click="afegirActivitat">Nova Tasca</button>
    </div>
  </div>
  <div class="contenidor">
    <div class="capsa" v-bind:style="{ backgroundColor: bgColor,
    color: textColor, width: amplada + 'px', height: alçada + 'px' }">
      <p>Això és una capsa usable!!</p>
    </div>
  </div>
</template>

<style scoped>
.contenidor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.capsa {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
ul {
  list-style-type:none;
}
img{
  height: 200px;
  witdh:200px;
}
</style>