<script setup lang="ts">
import {ref} from "vue";

let mostrar = ref(true);
let ocultar = ref(true);
let nomProducte = ref("Producte Estrella");
let descripcio = ref("Aquest és el nostre producte més popular!");
let preu = ref(199.99);
let imatge = ref("https://img.freepik.com/fotos-premium/variedad-vegetales-verdes-que-incluyen-brocoli-brocoli-otras-frutas_670382-1288.jpg?w=740");
function toggleMostrar() {
  mostrar.value = true;
  ocultar.value = false;
}
function toggleOcultar() {
  mostrar.value = false;
  ocultar.value = true;
}
</script>

<template>
  <div class="container">
    <h3>Transicio 2</h3>
    <button @click="mostrar=!mostrar">Mostra/Oculta</button>
    <transition name="fade" mode="out-in">
      <div v-if="mostrar" class="card">
        <!--<div class="card" v-show="mostrar"  >-->
        <img :src="imatge" alt="Imatge del producte">
        <div class="card-body">
          <h2>{{ nomProducte }}</h2>
          <p>{{ descripcio }}</p>
          <p>{{ preu }}€</p>
        </div>
      </div>
    </transition>
  </div>
</template>

<style scoped>
img{
  height: 200px;
  width: 200px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

card img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 2s ease-out;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
</style>