<script setup lang="ts">

defineProps({varfilla:
      {
        type:String,
        default:"jjajaja",
        required:true
      }
});
</script>

<template>
  <div class="container bg-success">
    <p>{{varfilla}}</p>
  </div>

</template>

<style scoped>

</style>