<script setup lang="ts">
defineProps({message:{type:String, required:true,default:"prova"}});
</script>

<template>
  <div>
    <h1>Component Asíncron</h1>
    <p>{{ message }}</p>
  </div>
</template>

<style scoped>
h1{
  background-color: lime;
}
</style>