<script setup lang="ts">
import {ref} from "vue";

let posX = ref(0);
let posY = ref(0);
function actualitzaPosicio(event:MouseEvent) {
  posX.value = event.clientX;
  posY.value = event.clientY;
}

</script>

<template>
  <div v-on:mousemove="actualitzaPosicio">
    <!--<div @mousemove="actualitzaPosicio">-->
    <p>Posició del ratolí: {{ posX }}, {{ posY }}</p>
  </div>
</template>

<style scoped>

</style>