<script setup lang="ts">
import {ref} from "vue";

let text = ref('Algú té el meu carregador???');
let disabled = ref(false);
/*
function actualitzaText (event: Event) : void {
  const target = event.target as HTMLInputElement;
  return;
}*/

</script>

<template>
  <div class="container">
    <h2>Prova Bind 2</h2>
    <input type="text" v-model="text" :disabled="!disabled" /><br/>
    <input type="checkbox" v-model="disabled"/>
    <p v-if="disabled">Aquest Input està Habilitat.</p>
    <p v-else-if="!disabled">Aquest Input està Deshabilitat.</p>
    <p v-if="disabled">El text de l'input és: {{text}}</p>
  </div>
</template>

<style scoped>
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
</style>