<script setup lang="ts">
import {ref} from "vue";

let mostrarLlista = ref(false);
let activitats = ref(["Comprar pizzes",
  "Treballar", "Estudiar programació web",
  "Veure Monster per no dormir"]);
</script>

<template>
  <div class="container">
    <h3>Transicio 1</h3>
    <button @click="mostrarLlista = !mostrarLlista">Mostrar / Ocultar Llista</button>
    <transition name="slide-fade">
      <ul v-if="mostrarLlista" class="task-list">
        <li v-for="(task, index) in activitats" :key="index">{{ task }}</li>
      </ul>
    </transition>
  </div>
</template>

<style scoped>
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 1s ease-out;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
ul {
  list-style-type:none;
}
</style>