<script setup lang="ts">
let isActive : boolean = false;
let isLoading : boolean = true;
let titol : string = 'Prova v-bind:classe';
let descripcio : string = 'Comprovant si funciona';
</script>

<template>
  <div :class="{ 'is-active': isActive,
  'is-loading': isLoading }">
    <h2>{{ titol }}</h2>
    <p>{{ descripcio }}</p>
  </div>
</template>

<style scoped>
.is-active {
  background-color: fuchsia;
}
.is-loading {
  cursor: progress;
}
</style>