<script setup lang="ts">
import axios from "axios";
import {ref} from "vue";

let users = ref();
function fetchData(){
  axios.get('https://jsonplaceholder.typicode.com/users')
      .then(response => {
        users.value = response.data;
        console.log(users);
      })
      .catch(error => {
        console.log(error);
      });
}
</script>

<template>
  <div class="container">
    <button @click="fetchData">Carrega les dades</button>
    <ul>
      <li v-for="user in users" :key="user.id">{{ user.name }}</li>
    </ul>
  </div>
</template>

<style scoped>
ul {
  list-style-type:none;
}
</style>