<script setup lang="ts">
import HelloWorld from './components/HelloWorld.vue'
import TheWelcome from './components/TheWelcome.vue'
import Prova1 from "@/components/prova1.vue";
import ProvaMare from "@/components/ProvaMare.vue";
import ProvaComputed from "@/components/ProvaComputed.vue";
import ProvaWatch from "@/components/ProvaWatch.vue";
import ProvaCicle from "@/components/ProvaCicle.vue";
import ProvaMare2 from "@/components/ProvaMare2.vue";
import ProvaMenu from "@/components/ProvaMenu.vue";
import ProvaFetchPare from "@/components/ProvaFetchPare.vue";
import ProvaFetchPare2 from "@/components/ProvaFetchPare2.vue";
import ProvaAxios from "@/components/ProvaAxios.vue";
import ProvaDirectiva3 from "@/components/ProvaDirectiva3.vue";
import ProvaBind from "@/components/ProvaBind.vue";
import ProvaBindClasse from "@/components/ProvaBindClasse.vue";
import ProvaBind2 from "@/components/ProvaBind2.vue";
import ProvaDirectiva from "@/components/ProvaDirectiva.vue";
import ProvaDirectiva2 from "@/components/ProvaDirectiva2.vue";
import ProvaTransicio from "@/components/ProvaTransicio.vue";
import ProvaTransicio2 from "@/components/ProvaTransicio2.vue";

</script>

<template>

  <h1>Fem classess online per setmana santa</h1><br/>
  <prova-menu></prova-menu>
  <!--<prova1></prova1>-->
  <prova-mare></prova-mare>
  <prova-computed></prova-computed>
  <prova-watch></prova-watch>
  <prova-cicle></prova-cicle>
  <prova-mare2></prova-mare2>
  <prova-fetch-pare></prova-fetch-pare>
  <prova-fetch-pare2></prova-fetch-pare2>
  <prova-axios></prova-axios>
  <prova-directiva3></prova-directiva3>
  <prova-bind></prova-bind>
  <prova-bind-classe></prova-bind-classe>
  <prova-bind2></prova-bind2>
  <prova-directiva></prova-directiva>
  <prova-directiva2></prova-directiva2>
  <prova-transicio></prova-transicio>
  <prova-transicio2></prova-transicio2>
</template>

<style scoped>
/*
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}*/
*{
  background: lime;
}
</style>
